@model IEnumerable<ASPMVCWithSQLServerApp.Models.EmployeeModel>

<p>
    @Html.ActionLink("Create New", "AddEmployee")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmpID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EmpID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditEmployee", new { id = item.EmpID }) |
            @Html.ActionLink("Details", "employeeDetails", new { id = item.EmpID }) |
            @Html.ActionLink("Delete", "GetAllEmployees", new { id = item.EmpID }, new { onclick = "return confirm('Are you sure you want to delete this record?');" })
        </td>
    </tr>
}

</table>
